body{
    background-color: white,
}

.paper{
  margin-top: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar{
  margin: 1vh;
  background-color: white;
}

.form{
  width: 100%;
  margin-top: 1vh;
}

.submit{
  margin: 3vh;
  height: 7vh;
}